<h5> All Companies </h5>

<table class = "table">

  <tr>
    <td> Company </td>
    <td> Insurer </td>

  </tr>

<% @users.order("username").each do |user| %>
<tr>
 <td> <%= link_to user.username, user_path(user)%> </td>
 <td> <%= user.insurer  ? "Yes" : "No" %> </td>

</tr>
<% end %>
</tbody>
</table>
<br>
