<h2> Company: <%= @user.username %> </h2>

<labe> Are you an insurer? <%=@user.insurer ? "Yes" : "No" %> </label> <br><br>


<%= link_to "Edit", edit_user_path %> <br> <br>

<%= link_to "Select an Existing Credit or Create a New Credit", new_user_credit_path(@user) %> <br><br>
