/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .field_with_errors {
   padding: 2px;
   background-color: red;
   display: table;
 }



 table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

table {
    width: 75%;
}

th {
    height: 50px;
}

 td {
    text-align: center;
}

v {
  color:red; "Yes"
}

/* formatting for ajax response table */
#js-table {
   border-collapse: collapse;
}

#js-table, th, td {
   border: 1px solid black;
}

#js-table {
   table-layout: fixed;
   width: 75%;
}

#js-table th {
   height: 50px;
}

#js-table td {
   text-align: center;

}

#js-table v {
 color:red; "Yes"
}
